  header {
	position: relative;
  }
  
  nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #212121;
	z-index: 1;
  }

	.hamburger {
		display: none;
	}

a {
	text-decoration: none;
	color: black;
}

  .menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style: none;
  
	&_link {
	  font-weight: 300;
	  font-size: 15px;
	  color: #FFFFFF;
	  text-decoration: none;
	}
  
	&_item {
	  border-right: 2px dotted white;
	  padding-right: 30px;
	}
  
	li:last-child {
	  border-right: none;
	}
  }
 
  .subheader_official {
	font-weight: 100;
	font-size: 13px;
	color: #FFFFFF;
	margin-top: 6px;
  }

  .subheader_phone {
	display: block;
	font-weight: 400;
	font-size: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 3px;
	text-align: right;
	line-height: 20px;
  }

  .subheader {
	margin-top: 50px;
	position: absolute;
	width: 100%;
	height: 84px;
	background: rgba(0, 0, 0, 0.6);
  
	&_logo {
	  display: block;
	  max-width: 100%;
	  margin-top: 20px;
	}
  
	&_call {
	  font-weight: 300;
	  font-size: 12px;
	  color: #FFFFFF;
	  margin-top: 19px;
	  text-align: right;
	}
  
	&_button {
	  margin-top: 19px;
	  width: 172px;
	  height: 46px;
	  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
	  border-radius: 4px;
  
	  /* text button */
	  font-weight: 400;
	  font-size: 14px;
	  text-transform: uppercase;
	  color: #FFFFFF;
	  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	  &:hover {
		background-image: none;
		background-color: #1EACC7;
	  }
	}
  }
  

  .promo {
	min-height: 800px;
	background: url('../img/uber_bg.jpg') center (center / cover) no-repeat;
	padding: 150px 0 135px 0;
  
	&_header {
	  font-weight: 700;
	  font-size: 60px;
	  text-transform: uppercase;
	  color: #FFFFFF;
	  line-height: 60px;
	  margin: 0;
	  text-align: center;
	}
  
	&_subheader {
	  @include header;
	  color: white;
	}
  
	&_descrip {
	  font-weight: 400;
	  font-size: 18px;
	  color: #FFFFFF;
	  text-align: center;
	  margin-top: 23px;
	}
  
	&_button {
	  display: block;
	  margin: 118px auto;
	  width: 259px;
	  height: 63px;
	  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
	  border: none;
	  border-radius: 4px;
  
	  /* text button */
	  font-weight: 400;
	  font-size: 18px;
	  text-align: center;
	  text-transform: uppercase;
	  color: #FFFFFF;
	  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	  &:hover {
		background-image: none;
		background-color: #1EACC7;
	}
	}
  }
  
  .button {
	@include button;
  }

 .header {
	@include header;
  }
  .reasons_margin {
	margin-top: -25px;
  }
  
  .reasons {
	min-height: 767px;
  
	&_circle {
	  width: 113px;
	  height: 113px;
	  background: #1EACC7;
	  border-radius: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: 0 auto;
	  margin-top: -25px;
	}
  
	&_padding {
	  padding-right: 50px;
	}
  
	&_descrip {
	  padding-bottom: 25px;
  
	  > {
		span {
		  font-weight: 400;
		  font-size: 17px;
		  color: #1EACC7;
		}
  
		div {
		  font-weight: 300;
		  font-size: 15px;
		  color: #202020;
		}
	  }
	}
  }
  
  
 //   Mobile app

.subtitle {
	font-weight: 400;
	font-size: 17px;
	text-align: center;
	color: #222222;
	margin-top: 19px;
}

.mobile {
	min-height: 864px;
	background: url('../img/mobile_bg.jpg') center center/cover no-repeat;
	padding: 48px 0 79px 0;
	.row{
		margin-top: 32px;
	}
	&_item {
		position: relative;
		width: 320px;
		height: 280px;
		margin: 0 auto;
		margin-bottom: 19px;
		padding-bottom: 92px;
		&_1{
			background: url("../img/1.jpg") center center/cover no-repeat;
			padding-bottom: 12px;
		}
		&_2{
			background: url("../img/2.jpg") center center/cover no-repeat;
		}
		&_3{
			background: url("../img/4.jpg") center center/cover no-repeat;
		}
		&_4{
			background: url("../img/4.jpg") center center/cover no-repeat;
		}
		&_5{
			background: url("../img/5.jpg") center center/cover no-repeat;
		}
		&_6{
			background: url("../img/6.jpg") center center/cover no-repeat;
		}
		&_subtitle {
			font-weight: 400;
			font-size: 24px;
			text-align: center;
			text-transform: uppercase;
			color: #FFFFFF;
			padding-top: 83px;
		}
		&_plus {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			bottom: 35px;
			left: 50%;
			transform: translateX(-50%);
			width: 29px;
			height: 29px;
			background: #000000;
			margin: 0 auto;
			border-radius: 100%;
			padding: 6px;
			&:before {
				content: '';
				display: block;
				width: 14px;
				height: 2px;
				background-color:#1EACC7;
				transition: 0.3s all;
			}
			&:after {
				content: '';
				width: 2px;
				height: 14px;
				background-color:#1EACC7;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				transition: 0.3s all;
			}
			&:hover {
				&:before, &:after {
					background-color: orangered;
				}
			}
		}
	}
} 
	
// choice

.choice {
	position: relative;
	&_bg_black {
		display: flex;
		justify-content: center;
		background: black;
		min-height: 500px;
	}
	&_bg_white {
		background: white;
		min-height: 400px;
	}
	&_wrapper {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 56px;
	}
	&_button {
		@include button;
		background: white;
		color: black;
	}
	&_header {
		@include header;
		color: white;
		padding-top: 27px;
	}
	&_subtitle {
		font-weight: 400;
		font-size: 17px;
		text-align: center;
		color: #FFFFFF;
	}
	&_img {
		padding-top: 54px;
	}
	&_descrip {
		text-align: center;
		font-weight: 300;
		font-size: 17px;
		color: #222222;
	}
}

// conditional

.conditional {
	background:white;
	&_button {
		@include button;
	}
	&_flexbox {
		display: flex;
		justify-content: center;
		padding-top: 37px;
	}
	&_header {
		@include header;
		&_blue {
			font-weight: 400;
			font-size: 22px;
			align-items: center;
			color: #1CA8C3;
		}
		&_red {
			font-weight: 400;
			font-size: 22px;
			align-items: center;
			color: #FF5656;
		}
	}
	&_block {
		width: 500px;
	}
	&_list {
		&_blue > li {
			margin-left: 20px;
			list-style: none;
			position: relative;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 10px;
			&::before {
				content: '';
				display: block; 
				position: absolute;
				left: -32px;
				top: 3px;
				width: 21px; 
				height: 20px;
				background: url('../icons/check_blue.svg') center (center / cover) no-repeat;
			}
		}
		&_red > li {
			margin-left: 20px;
			list-style: none;
			position: relative;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 10px;
			&::before {
				content: '';
				display: block; 
				position: absolute;
				left: -32px;
				top: 3px;
				width: 21px; 
				height: 20px;
				background: url('../icons/check_red.svg') center (center / cover) no-repeat;
			}
		}
	}
	p {
		font-weight: 300;
		font-size: 17px;
		color: #1CA8C3;
	}
}

// world

.world {
	min-height: 1200px;
	background: url('../img/world_bg.jpg') center (center/cover) no-repeat;
	margin-top: 120px;
	&_flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&_button {
		@include button;
		background: white;
		color:#000000;
		width: 100px;
		height: 24px;
		margin-top: 85px;
	}
	&_header {
		@include header;
		color: white;
		margin-top: 50px;
	}
	&_subheader {
		font-weight: 400;
		font-size: 17px;
		color: #FFFFFF;
	}
	&_view {
		width: 223px;
		height: 68px;
		font-weight: 400;
		font-size: 15px;
		text-transform: uppercase;
		color: #1FBAD6;
		margin-top: 900px;
	}
}

// footer

.footer {
	min-height: 155px;
		&_col {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&_row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 80%;
		}
	&_wrapper {
		width: 40%;
		}
	&_divider {
		width: 299px;
		height: 4px;
		background-color: #1fbad6;
		margin: 10px auto 32px;
	}
	&_social {
		@include flex_row;
		justify-content: flex-start;	
		&_items {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 10px;
			background-color:black;
			border-radius:50%;
			width: 32px;
			height: 32px;
			 i {
				color: white;
			}
		}
	}
	&_mobile {
		@include flex_row;
		justify-content: flex-end;
		// width: 25%;
		&_icons {
			display: flex;
			margin: 0 5px;
		}
	}
	&_links {
		@include flex_row;
		justify-content: space-around;
		font-weight: 300;
		font-size: 15px;
		text-transform: uppercase;
		color: #070716;
		
		&_sub {
			@include flex_row;
			justify-content: space-between;
			margin-top: 10px;
			font-weight: 300;
			font-size: 11px;
			text-transform: uppercase;
			color: #999999;
			> a {
				padding: 0;
			}
		}
		&_lang {
			font-weight: 400;
			margin-top: 20px;
			font-size: 11px;
			text-transform: uppercase;
			color: #1FBAD6;
		}
	}
}

.xs-visible {
	display: none;
}